<div class="main-container">
  <div class="admin-actionbar">
    <h1>Pos INV</h1>
    <ul>
      <li><a routerLink="general"  routerLinkActive="active-link"><span>General</span></a></li>
      <li><a routerLink="costing" routerLinkActive="active-link"><span>Costing</span></a></li>
      <li><a routerLink="detail" routerLinkActive="active-link"><span>Detail</span></a></li>
      <li><a routerLink="upc" routerLinkActive="active-link"><span>UPC</span></a></li>
      <li><a routerLink="images" routerLinkActive="active-link"><span>Images</span></a></li>
    </ul>
  </div>
  <div  class="right-admin-component">
    <router-outlet></router-outlet>
  </div>
</div>
