<div class="container-fluid">
  <div class="container">
    <div class="row mt-5 mx-4">
      <div class="col custom-border p-4 w-100 h-50">
        <div class="row d-flex">
          <div class="col-6">
            <span class="mr-3 name-input">Name :</span><input type="text">
          </div>
          <div class="col-6">
            <span class="mr-3">SKU :</span><input type="text">
          </div>
        </div>
        <div class="row mt-2 d-flex">
          <div class="col">
            <span class="mr-3">Description :</span><input class="description-input" type="text">
          </div>
        </div>
        <div class="row mt-2 d-flex">
          <div class="col">
            <span class="mr-3 pl-4">Deposit :</span>
            <select class="form-select py-1 pr-5 select-box-style" aria-label="Default select example">
              <option selected>DEP10</option>
              <option value="1">DEP10</option>
              <option value="2">DEP10</option>
              <option value="3">DEP10</option>
            </select>
          </div>
        </div>
        <div class="row mt-2 d-flex">
          <div class="col">
            <span class="mr-3" style="margin-left: 2rem">Active :</span>
            <input  type="checkbox">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 mx-4">
      <div class="col custom-border p-4 w-100 h-50">
        <div class="row d-flex">
          <div class="col-6">
            <span class="mr-3 ml-2">Category :</span><input type="text">
          </div>
          <div class="col-6">
            <span class="mr-3">Country :</span><input type="text">
          </div>
        </div>
        <div class="row mt-2 d-flex">
          <div class="col-6">
            <span class="mr-3 ml-4">Theme :</span><input type="text">
          </div>
          <div class="col-6">
            <span class="mr-3 ml-1">Region :</span><input type="text">
          </div>
        </div>
        <div class="row mt-2 d-flex">
          <div class="col-6">
            <span class="mr-3 ">Department :</span>
            <select class="form-select py-1 select-box-style2 pr-5" aria-label="Default select example">
              <option selected>DEP10</option>
              <option value="1">DEP10</option>
              <option value="2">DEP10</option>
              <option value="3">DEP10</option>
            </select>
          </div>
          <div class="col-6">
            <span class="mr-3 ">Location :</span>
            <select class="form-select py-1 select-box-style2 pr-5" aria-label="Default select example">
              <option selected>DEP10</option>
              <option value="1">DEP10</option>
              <option value="2">DEP10</option>
              <option value="3">DEP10</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
